html {
  font-size: $font-size;
}

body {
  font-family: $font-main;
  font-size: 1rem;
}

section {
  position: relative;
  overflow: hidden;
}

a {
  color: $color-primary;
  transition: color 0.2s linear;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-accent;
  }
}

h1 {
  margin:-0.5rem 0 2.8rem;
  font-size: 3rem;
  font-family: $font-header;

  &::after {
    position: absolute;
    content: "";
    padding-top: 0.85em;
    margin-left: 1rem;
    width: 100%;
    border-bottom: 3px solid rgba($color-accent, 0.5%); 
  }

  @include md {
    margin: 1.7rem 0 2.8rem;
  }

  @include xs {
    font-size: 2rem;
  }
}

h2 {
  margin: 3.75rem 0 2.8rem 2.8rem ;
  position: relative;
  font-family: $font-header;
  font-size: 2.5rem;

  &::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -45px;
    width: 30px;
    height: 3px;
    background-color: rgba($color-accent, 0.5%);
  }
  &::after {
    position: absolute;
    content: "";
    padding-top: 0.85em;
    margin-left: 1rem;
    width: 100%;
    border-bottom: 3px solid rgba($color-accent, 0.5%); 
  }

  @include xs {
    font-size: 1.75rem;
  }
   
  }
  h3 {
    @include xs {
      font-size: 20px;
    }
  }


