.top-week {
  position: relative;
}

.new-films, 
.top-week {
  &-item {
    padding-right: $gap / 2;
    padding-left: $gap / 2;
    margin-bottom: $gap;

    &__image {
      width: 100%;
    }
  
    &__title {
      margin: 0;
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
      @include text-shortener;
      transition: color 0.2s linear;
    }

    &:hover,
    &:focus {
      .thumbnail{
      background-color: $color-accent;
      }
      .new-films-item__title, 
      .top-week-item__title {
        color: $color-light;
      }
    }
  }
}

.row {
  margin-left: -$gap / 2;
  margin-right: -$gap / 2;
}

.thumbnail {
  margin-bottom: 0;
  transition: background-color 0.2s linear;
}
