.film-video {
  margin-bottom: 5rem;

  &-element {
    border-radius: 5px 5px 0 0;
  }
  &-title {

    &:after {
      width: calc(100% - 435px);

      @include xs {
        top: 30px;
        width: calc(100% - 290px);
        }
    }
    
  }

  &-item {
    border-radius: 10px;
  }

  &-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 1.2rem;
    
    @media (max-width: 467px) {
      font-size: 0.9rem;
      flex-wrap: nowrap;
       
    }

    & > span {
      font-size: 0.95rem;
      margin: 0 1.4rem 0 0.3rem;
      @include xs {
        margin: 0 0.4rem;
      }
      
    }
  }
}

.film-description {
  margin-bottom: 5rem;

}


.film-review {
    margin-bottom: 5.6rem;
}

.film-title {
  &:after {
    width: calc(100% - 310px);

    @include xs {
      width: calc(100% - 200px);
    }
  }
}

.comments {
  margin-bottom: $gap * 8;

  &-title {
      
    &:after {
      width: calc(100% - 410px);
  
      @include xs {
        width: calc(100% - 265px);
      }

      @media (max-width: 417px) {
        top: 53px;
        width: calc(100% - 140px);
      }
    }
   }

  &-btn {
    float: right;
    color: $color-light;
    border: none;
    background-color: lighten($color-accent, 15%);
    transition: background-color 0.2s linear;

    &:hover,
    &:focus {
      background-color: $color-accent;
    }
  }
}
