.film-video {
  &-element {
    border-radius: 5px 5px 0 0;
  }

  &-item {
    border-radius: 10px;
  }

  &-info {
    margin-left: 7px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    font-size: 1.2rem;
    
    & > p {
      margin: 0;
      white-space: nowrap;
      & > span {
        font-size: 0.8em;
        margin: 0 1.4rem 0 0.3rem;
      }  
    }
  }

.film-review {
    margin-bottom: 2.2rem;
}

.comments {
  margin-bottom: $gap * 4;

  &-btn {
    float: right;
    color: $color-light;
    border: none;
    background-color: lighten($color-accent, 15%);
    transition: background-color 0.2s linear;

    &:hover,
    &:focus {
      background-color: $color-accent;
      }
    }
  }
}