.film-video {
  &-element {
    border-radius: 5px 5px 0 0;
  }
  & > .well {
    @media (max-width: 390px) {
    padding: 19px 5px;
    }
    @media (max-width: 368px) {
      padding: 19px 35px;
    }
  }

  &-item {
    border-radius: 10px;
  }

  &-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 1.2rem;
    
    @media (max-width: 467px) {
      font-size: 0.9rem;
      flex-wrap: nowrap;  
    }

    @media (max-width: 368px) {
      font-size: 1.2rem;
      flex-wrap: wrap;
    }

    & > span {
      font-size: 0.95em;
      margin: 0 1.4rem 0 0.3rem;
      @include xs {
        margin: 0 0.4rem;
      }
      @media (max-width: 484px) {
        font-size: 0.8em;
      }
    }  
  }
}

.film-review {
    margin-bottom: 2.2rem;
}

.comments {
  margin-bottom: $gap * 4;


  &-btn {
    float: right;
    color: $color-light;
    border: none;
    background-color: lighten($color-accent, 15%);
    transition: background-color 0.2s linear;

    &:hover,
    &:focus {
      background-color: $color-accent;
    }
  }
}
